<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AMHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AMHash.Properties.Settings>
            <setting name="extMD5" serializeAs="String">
                <value>md5</value>
            </setting>
            <setting name="extSHA256" serializeAs="String">
                <value>sha256</value>
            </setting>
            <setting name="positionX" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="positionY" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="sizeWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="sizeHeight" serializeAs="String">
                <value>310</value>
            </setting>
        </AMHash.Properties.Settings>
    </userSettings>
</configuration>